:root {
  --primary: #606c38;
  --secondary: #283618;
  --white: #fff;
  --Brown: #333;
  --shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
tbody tr {
  padding: 0.2rem 0;
}
.ico-img {
  height: auto;
  width: 30px;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
}
.cont-scree {
  padding: 1rem;
}
.cont-scree h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 1rem;
}
.asideRoutes {
  display: flex;
  height: 93vh;
}
.routes {
  width: 85%;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-h2 {
  text-transform: uppercase;
}
.mx-1 {
  margin: 0 1rem;
}
.w-14 {
  width: 14%;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-20 {
  width: 20%;
}
.m-b {
  margin-bottom: 2rem;
}
.tex-bot {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
.for-dis {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.for-inp {
  width: 50%;
  margin-bottom: 1rem;
  padding: 0.6rem;
}
.con-det {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-fluid {
  height: auto;
  width: 100%;
}
.con-ul {
  display: flex;
}
.con-ul li {
  margin: 0 .3rem;
}
