.space {
  padding: 2rem;
}
.crud-table {
  max-width: 800px;
  padding: 40px 0;
  margin: 0 auto;
}
.clearfix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-inline {
  width: 50%;
}
.form-inline:nth-child(2) {
  display: flex;
  justify-content: center;
}
.form-group {
  margin: 0 1rem;
}
.table {
  width: 100%;
  max-width: 100%;
  margin: 4rem 0;
}
.dataCont {
}
